.newsletter {
  padding: 80px 20px;
}

.newsletter-box {
  background-color: var(--secondary-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/subscription-car.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  padding: 60px 20px;
  text-align: center;
  color: var(--text-white);
}

.newsletter-subtitle {
  color: var(--primary-color);
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.newsletter-title {
  font-size: 2rem;
  margin-bottom: 15px;
  color: inherit;
  text-transform: uppercase;
}

.newsletter-desc {
  color: #ccc;
  margin-bottom: 30px;
  max-width: 500px;
  margin-inline: auto;
  font-size: 0.9rem;
}

.newsletter-form {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}

.newsletter-form input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-family: inherit;
}

.newsletter-form .btn-primary {
  border-radius: 0 4px 4px 0;
}

@media (max-width: 600px) {
  .newsletter-form {
    flex-direction: column;
  }
  .newsletter-form input {
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .newsletter-form .btn-primary {
    border-radius: 4px;
  }
}
